/* .spot-show-section {
  display: grid;
  justify-content: center;
  margin-top: 5%;
} */

.spot-show-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 100vw;
  top: 150px;
}

.spot-name {
  font-size: 26px;
}

.spot-show-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.spot-show-subheading {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  width: 100%;
}

/* .spot-name {
  width: 89%;
  margin-top: 4%;
  display: flex;
  justify-content: flex-start;
  font-size: 19px;
}
.spot-show-subheading {
  width: 89%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.spot-show-image {
  width: 1200px;
  height: 500px;
  border-radius: 2%;
} */
