.spots-container {
  /* border: 5px pink solid; */
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 9vh;
  padding-bottom: 6vh;
}


.allSpots {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  column-gap: 1.25%;
  row-gap: 5vh;
  /* border: 5px green solid; */
  height: 100%;
}

/* .all-spots {
  position: relative;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  border: 5px pink solid;
  margin-top: 8vh;
} */
