.allSpots {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-template-rows: 35%;
  column-gap: 1.5%;
  row-gap: 1%;
  width: 100%;
  height: 100%;
}

.all-spots {
  height: 100vh;
  width: 89vw;
  margin-top: 10vh;
  padding-left: 5%;
  padding-right: 5%;
}
