/* TODO Add site wide styles */
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

body {
  height: 100vh;
}

#huntr-react-container-2 {
  height: 0%;
  width: 0%;
}
