.spot-image {
  width: 300px;
  height: 300px;
  border-radius: 5%;
}

.spot-description {
  color: grey;
  font-weight:lighter;
}

.spot {
  border-radius: 5%;
}

.spot-link {
  color: black;
  text-decoration: none;
}

.spot-name,.spot-price {
  font-weight: bold;
}

.night {
  color: black;
  font-weight: lighter;
}
