.spot-image {
  width: 300px;
  height: 300px;
  border-radius: 5%;
}

.spot-description {
  color: #767676;
  font-weight:lighter;
}

.spot-link {
  color: black;
  text-decoration: none;
}

.spot-price {
  font-weight: bold;
}

.landing-city-state {
  font-size: 15px;
}

.night {
  color: black;
  font-weight: lighter;
}

.spot-name {
  font-size: 15px;
}
