.main-header {
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
}

.main-header-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin-top: 2%
}

.login-button {
  background-color: white;
  border: none;
  font-weight: bold;
  padding: 10%;
}

.signup-button {
  background-color: white;
  border-color: black;
  border-radius: 5%;
  font-weight: bold;
  padding: 10%;
}

.demo-user-button {
  background-color: white;
  border: none;
  font-weight: bold;
  padding: 10%;
}

.auth-actions {
  width: 100%;
  display: flex;
  justify-items: space-between;
  align-items: center;
}

.home {
  color: black;
}

.home:link {
  text-decoration: none;
}

.login-button:hover, .signup-button:hover, .demo-user-button:hover {
  color: white;
  background-color: black;
}

.home {
  display: flex;
  align-items: center;
}
