* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

.main-header {
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
}

.main-header-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%
}
