.my-spots {
  background-color: white;
  border: none;
  font-weight: bold;
}

.user-reviews {
  background-color: white;
  border: none;
  font-weight: bold;
}

.logout {
  background-color: white;
  border: none;
  font-weight: bold;
}

.user-reviews:hover {
  background-color: black;
  color: white;
}

.logout:hover {
  background-color: black;
  color: white;
}

.current-user-email {
  color: black;
  font-weight: lighter;
}

.user-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 55%;
  width: 8%;
  padding-right: 0.25%;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  background-color: white;

}

.user-btn:hover {
  box-shadow: 0 2px 4px rgba(33,33,33,.2);
  cursor: pointer;
}

.fa-user-circle {
  height: 80%;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: .25vw;
}
